/* Estilo das páginas de autenticação */

.logo {
    background-image: url("../IMGS/LOGO-IMG2.png");
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: left;
    height: 50px;

    font-weight: bold;
    font-size: 36px;
    font-family: "PT Sans", sans-serif;
    text-align: center;
}

.erro {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}

.sucesso {
  display: flex;
  flex-direction: column;
  color: green;
  font-size: 14px;
  margin-top: 10px;
  text-align: center;
}

.auth-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: orange;
  background-image: url("../IMGS/MAPA_BRASIL.webp");
  background-size: cover;      
  background-position: start;  
  background-repeat: no-repeat; 
  background-blend-mode: overlay;
  background-color: rgba(255, 165, 0, 0.6); 

  font-family: Arial, sans-serif;
  margin: 0;
}

.auth-container {
  align-items: center;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;

}

.auth-container h1 {
  margin-bottom: 20px;
  color: #1E3A8A;
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.auth-container input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.auth-container button {
  padding: 12px;
  background: #1E3A8A;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}
.auth-container {
  position: relative;
  align-items: center;
  background: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.senha-container {
  width: 100%;
  position: relative;
}

.senha-container input{
  width: 93%;
}

.olho {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}

.back-arrow {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 30px;
  color: black;
  text-decoration: none;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.2s ease;
}

.back-arrow:hover {
  color: #F97316;
  scale: 1.5;
}

.auth-container button:hover {
  background: #F97316;
}

.auth-container p {
  margin-top: 15px;
  font-size: 14px;
}

.auth-container .regs-page {
  color: #F97316;
  text-decoration: none;
  font-weight: bold;
}
