body {
  font-family: "PT Sans", sans-serif;
  margin: 0px;
  height: 79vh;
  background: linear-gradient(rgba(255,165,0,0.6), rgba(255,165,0,0.6)), url("../IMGS/MAPA_BRASIL.webp");
}

/* MODAL DO LOADING!! */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  /* fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

#svg-map {
  width: 100%;
  height: 96%;
}


#svg-map text {
  fill: #fff;
  font: 12px Arial-BoldMT,
    sans-serif;
  cursor: pointer
}

#svg-map a {
  text-decoration: none
}

#svg-map a:hover {
  cursor: pointer;
  text-decoration: none
}

#svg-map .circle {
  fill: #1E3A8A
}

#svg-map a:hover .circle {
  fill: rgb(0, 153, 255) !important;
  cursor: pointer
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  max-width: 98%;
  height: 98%;
  margin: 0px;
  padding: 20px;
  background: #f0f4ff00;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

/* Espaço superior para filtros ou seleção do mapa */
select {
  width: 100%;
  max-width: 290px;
  padding: 6px 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #f9f9f9;
  color: #333;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='gray' class='bi bi-chevron-down' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

select:focus {
  border-color: #007BFF;
  outline: none;
  background-color: #fff;
}

.dashboard-filtros {
  display: flex;
  justify-content: space-between;
  justify-items: center;
}

.filtros {
  height: fit-content;
  padding: 8px;
  background-color: #0041864f;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 300px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.313);
}

.logo-dash {
  height: 10px;
}

.logo-dash h1 {
  margin: 0;
}

.button-deletar {
  width: 100px;
  margin: 2px;
  padding: 2px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border: solid 1px black;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

.button-editar {
  width: 100px;
  margin: 2px;
  padding: 2px;
  background-color: rgb(0, 72, 255);
  color: white;
  font-weight: bolder;
  border: solid 1px black;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

button:hover {
  font-size: 15px;
  width: 110px;
  font-weight: bolder;
}

.botao-reset {
  background-image: url(../IMGS/reset-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px;
  width: 64px;
  height: 64px;
  color: red;
  transition: all ease-in-out 0.3s;
}

.botao-reset:hover {
  background-size: 35px;
}

/* Conteúdo principal: mapa + detalhes */
.dashboard-content {
  display: flex;
  gap: 20px;
}

/* Mapa à esquerda */

.continer1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mapa-div {
  width: 95%;
  height: 55%;
  background: #1E3A8A;
  padding: 15px;
  border-radius: 12px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 18px;

  display: flex;
  flex-direction: column;
}

.mapa-div .legenda {
  display: flex;
  flex-direction: column;
  height: 15%;
  text-align: center
}

.mapa-div .legenda h2 {
  font-size: 14px;
  color: white;
  margin: 0;
}

.mapa-div p {
  font-size: 10px;
  font-weight: bolder;
  color: white;
}

.mapa-div .mapa {
  height: 90%;
  display: flex;
  flex-direction: row;
}


.mapa-div .lista {
  font-size: 12px;
  font-weight: bolder;
  color: white;
  width: 0px;
  overflow: visible;
  white-space: nowrap;
  height: 90%;
  width: 0.5%;
  align-content: end;
}

.map-under {
  width: 95%;
  height: 35%;
  padding: 15px;
  border-radius: 12px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  gap: 20px;
}


/* Área de detalhes / gráficos à direita */
.detalhes-div {
  width: 80%;
  height: 105%;
  background: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.kpi-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.kpi-card {
  background-color: #fff;
  flex: 1;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.293);
  align-content: center;
}

.kpi-card h3 {
  margin-bottom: 10px;
  font-size: 15px;
  color: #555;
}

.kpi-card p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

/* Gráficos */
.charts-container {
  display: flex;
  justify-content: space-between;
}

.chart-box {
  background-color: #fff;
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  border-radius: 10px;
  height: 160px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.313);
}