.navbar {
    top: 0;
    width: 100%;
    height: 90px;
    background-color: #1E3A8A;
    color: white;
    display: flex;
    justify-content: space-around;
    gap: 35%;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

/* LOGO */
.navbar .logoGeo {
    background-image: url("../IMGS/LOGO-IMG2.png");
    background-repeat: no-repeat;
    background-size: 60px;
    background-position: left center;
    padding-left: 70px;
    font-size: 32px;
    font-weight: bold;
    text-decoration: underline;
}

/* NAV LINKS */
.navbar nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin: 0;
    padding: 0;
}

.navbar nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 16px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.navbar nav ul li a:hover {
    background-color: #74b9ff;
    color: white;
}

/* BOTÃO DE SAIR */
.logout-btn {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 10px 16px;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.logout-btn:hover {
    background-color: #e85c00;
    color: white;
}

.logo {
  position: relative;
  font-weight: bold;
  font-size: 36px;
  font-family: "PT Sans", sans-serif;
  text-decoration: underline;
  padding-left: 70px;
}

.logo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  background-color: #E0E7FF;
  background-image: url("../IMGS/LOGO-IMG.png");
  background-size: 90px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* sombra aplicada à imagem */
  border-radius: 8px
}
