body{
    font-family: "PT Sans", sans-serif;
    margin: 0px;
    height: 79vh;
    overflow: hidden;
    background: linear-gradient(rgba(255,165,0,0.6), rgba(255,165,0,0.6)), url("../IMGS/MAPA_BRASIL.webp");
}



/* Container principal da página de perfil */
.perfil-container {
    width: 95%;
    height: 104%;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,1);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;

}
.perfil-graficos {
    height: 1000px;
    width: 98%;
    flex: 2;
    margin: 0;
    gap: 20px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.195);
    padding: 10px;
    border-radius: 5px;

    
    max-height: 100%; 
    overflow-y: auto; 
    overflow: hidden;
}

.perfil-info {
    width: 98%;
    height: 23%;
    background-color: white;
    padding: 10px;
    padding-left: 20px;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.3);

    display: flex;
    flex-direction: row;
    gap: 20px;
}

.perfil-info .logo{
  border-right: solid 2px beige;
  display: flex;
  align-items: center;
  justify-items: center;
}

.perfil-info .infos{
  display: flex;
  flex-direction: column;
}

.perfil-info .infos-box{
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.perfil-info a {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 15px;
  background: #1E3A8A;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: 0.3s;
  
}

.perfil-info h1 {
    margin: 0 0 10px 0;
    color: #1E3A8A;
    font-size: 55px;
}
.perfil-info h2 {
  margin: 0 0 10px 0;
  color: #1E3A8A;
  font-size: 20px;

}

.perfil-info p {
    width: 280px;
    margin: 5px 0;
    color: #333;
    border: solid 1px rgba(0, 0, 0, 0.454);
    padding: 10px;
    border-radius: 6px;
    font-size: 17px;
    background-color: #5e89ff52;
}

.perfil-info button{
  width: 100%;
  font-weight: bold;
  color: #1E3A8A;
  font-size: 20px;
}


/* Título da seção de gráficos */
.perfil-graficos h2 {
    margin: 0 0 10px 0;
    color: #1E3A8A;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.perfil-graficos h3{
  margin: 0;
  font-size: 25px;
  margin: 10px;
  color: #1E3A8A;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Placeholder de gráficos */
.grafico-placeholder {
    display: flex;
    flex-direction: column;
    height: 465px;
    width:98%;
    margin: 10px;
    background: linear-gradient(135deg, #5e89ff51, #ffffff);
    border-radius: 12px;
    color: rgb(9, 9, 9);
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
}

.grafico-placeholder .button-deletar{
  width: 80px;
  margin: 2px;
  padding: 2px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border: solid 1px black;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

.grafico-placeholder .button-editar{
  width: 80px;
  margin: 2px;
  padding: 2px;
  background-color: rgb(0, 72, 255);
  color: white;
  font-weight: bolder;
  border: solid 1px black;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
}

.grafico-placeholder button:hover{
  font-size: 15px;
}


.grafico-placeholder .chart{
  background-color: white;
  width: 50%;
  height: 320px;
  border: solid 1px rgba(192, 192, 192, 0.783);
  border-radius: 6px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.452);
}

.grafico-placeholder .graphs-box{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.kpi-container {
  display: flex;
  justify-content: space-between;
}

.kpi-card {
  background-color: #fff;
  height: 80px;
  display: flex;
  flex-direction: column;
  width: 22%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.452);
  margin-top: 10px;
  padding: 10px;
}

.kpi-card h3 {
  font-size: 15px;
  color: #555;
}

.kpi-card p {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin: 0;
}
.carrossel-container {
  width: 100%;
  overflow: hidden;
  position: relative;
  

}

.carrossel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 97%; /* 100% x número de slides */
  gap: 10px
}

.grafico-placeholder {
  flex: 0 0 100%;
  height: 80%;
}

.carrossel-controles {
  text-align: center;
  margin-top: 0;
  height: 100%;
}

.carrossel-controles button {
  height: 25px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  font-weight: bolder;
  color: white;
  background-color: #87a9ff;

  border: none;
  border-radius: 5px;
  margin: 10px;

  transition: all ease-in-out 0.3s;
}

.carrossel-controles button:hover{
  background-color: #1E3A8A;
}

.logo-dash-fav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo-controls-container{
  display: flex; 
  flex-direction: row; 
  height: 40px; 
  gap: 10px;
}
